<upload-area source="animationStructure.imageSource"  ng-hide="!!animationStructure.imageSource"></upload-area>
<sprite-editor ng-if="!!animationStructure.imageSource" editor-options="editorOptions" structure="animationStructure"></sprite-editor>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="container-fluid header-controls">
            <div class="pull-right">
                <form class="form-inline">
                    <label><input type="number" ng-model="editorOptions.greedSize.width" style="width: 50px;" min="2" class="form-control"/> Greed width</label>
                    <label><input type="number" ng-model="editorOptions.greedSize.height" style="width: 50px;" class="form-control" min="2"/> Greed height</label>
                    |
                    <label><input type="checkbox" ng-model="editorOptions.snapToGreed"/> Snap to greed</label>
                    |
                    <div class="btn-group btn-group-sm">
                        <label for="canvas-color">Canvas bg:</label>
                        <input type="color" ng-model="editorOptions.background" id="canvas-color" class="form-control" style="width: 50px;"/>
                        <span class="glyphicon glyphicon-th-large" style="color: #000;" ng-click="editorOptions.background = 'url(images/bg-greed.png)'"></span>
                    </div>
                </form>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span>  </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span>  </button>
                <button type="button" class="btn btn-default" ng-click="copyToClipboard()"><span class="glyphicon glyphicon-export" title="Copy to clipboard"></span>  </button>
            </div>

        </div><!-- /.container-fluid -->
    </div>
</nav>
<div class="panel panel-primary control-panel" ng-class="{small: !editorOptions.displayAnimationPanel}" ng-show="!!animationStructure.imageSource">
    <div class="panel-heading"  ng-click="editorOptions.displayAnimationPanel = !editorOptions.displayAnimationPanel">
        <em class="glyphicon glyphicon-tasks" style="font-size: 20px;"></em><span style="margin-left: 15px">Animations</span>
    </div>
    <div class="panel-body animation-set">
        <div class="panel"
             ng-class="{'panel-success': animation === editorOptions.currentAnimation, 'panel-info': animation !== editorOptions.currentAnimation}"
             ng-repeat="animation in animationStructure.animations" >
            <div class="panel-heading" ng-click="setCurrentAnimation(animation)">
                <button ng-click="removeAnimation(animation)" class="remove-button"><i class="glyphicon glyphicon-remove"></i></button>
                <input type="text" class="form-control" ng-model="animation.name" style="width: 200px">
            </div>
            <div class="panel-body" ng-show="animation === editorOptions.currentAnimation" >
                <div class="clearfix">
                  <animation-previewer ng-if="!!animation.frames.length" image="animationStructure.imageSource" animation="animation"></animation-previewer>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Width:</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" ng-model="animation.width">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Height:</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" ng-model="animation.height">
                      </div>
                  </div>
                  <div class="form-group" >
                    <label class="col-sm-2 control-label">Speed:</label>
                    <div class="col-sm-10">
                      <input type="range" class="form-control" min="0.05" step="0.05" max="1" ng-model="animation.speed">
                    </div>
                  </div>

                </div>
                <div class="panel-body">
                    <div class="panel"
                         ng-repeat="(index, frame) in animation.frames"
                         ng-class="{'panel-warning': frame === editorOptions.currentFrame, 'panel-default': frame !== editorOptions.currentFrame}">
                        <div class="panel-heading" ng-click="editorOptions.currentFrame = frame">
                            <button ng-click="removeAnimationFrame(animation, frame)" class="remove-button"><i class="glyphicon glyphicon-remove"></i></button>
                            <span>Frame {{ index + 1}}</span>
                        </div>
                        <div class="panel-body" ng-if="frame === editorOptions.currentFrame">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Width:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.width" ng-change="change(frame)">
                                </div>
                                <label class="col-sm-2 control-label">Height:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.height" ng-change="change(frame)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Left:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.left" ng-change="change(frame)">
                                </div>
                                <label class="col-sm-2 control-label">Top:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.top" ng-change="change(frame)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" title="Left Offset">Of. Left:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.offset.left" ng-change="change()">
                                </div>
                                <label class="col-sm-2 control-label" title="Top Offset">Of. Top:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" ng-model="frame.offset.top" ng-change="change()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-sm" ng-click="addAnimation()">
            <span class="glyphicon glyphicon-plus" ></span> Add Animation
        </button>
    </div>
</div>

